{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": false,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "baseUrl": "./",
    "paths": {
      "@src/*": ["src/*"],
      "@server/*": ["src/server/*"],
      "@config/*": ["src/server/config/*"],
      "@routes/*": ["src/server/config/routes/*"],
      "@shared/*": ["src/shared/*"],
      "@assignment-module/*": ["src/assignment/*"],
      "@assignment-module-application/*": ["src/assignment/application/*"],
      "@assignment-module-core/*": ["src/assignment/core/*"],
      "@assignment-module-infrastructure/*": [
        "src/assignment/infrastructure/*"
      ],
      "@location-module/*": ["src/location/*"],
      "@location-module-application/*": ["src/location/application/*"],
      "@location-module-core/*": ["src/location/core/*"],
      "@location-module-infrastructure/*": ["src/location/infrastructure/*"]
    },
    "target": "es2022"
  },
  "module": {
    "type": "commonjs"
  },
  "minify": true,
  "exclude": ["node_modules", "src/**/*.test.ts"]
}
